.button-central {
  width : 600px;
  margin : 12px auto;
  text-align:center;
  color : pink;
  font-family: 'Modak', cursive;
  font-size :32px;
  padding: 16px 32px;
  background-color: blue;
  border-radius: 15px;

  a {
    text-decoration: none;
    color: pink;
  }

}
